<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
        <button class="btn btn-outline-success" onclick="location.href='/api/sessions/logout'">Logout</button>
    </div>
  </div>
</nav>


<div class="text-center mt-4">
    <h2>Welcome {{first_name}} {{last_name}} !</h2>
    <p>Role: {{role}}</p>
</div>



<div class="container text-center">
    <h2 class="mt-4">Products</h2>
    <div class="row mt-5">
        {{#each products}}
            <div class="col-4 mb-4">
                <div class="card" >
                        <h5 class="card-header">{{this.title}}</h5>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.description}}</h6>
                        <p class="card-text">CODE: {{this.code}}</p>
                        <p class="card-text">PRICE: ${{this.price}}</p>
                        <p class="card-text">STOCK: {{this.stock}}</p>
                        <p class="card-text">CATEGORY: {{this.category}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>